<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dance Website</title>

    style 
      include ../static/style.css
      
  </head>
  <body>
    <!-- for header part ------------------------------------------------------------>
    <header id="header">
      <img id="imgHeader" src="/static/DANCE LOGO.jpg" alt="" />
      <p id="paraHeader1">NDA</p>
      <p id="paraHeader2">NATYA Dance Academy</p>
    </header>

    <!-- for navigation part ------------------------------------------------------------>
    <nav id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Class Info</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- for INTRO SECTION[1] part ------------------------------------------------------------>
    <section id="introSection">
      <div>
        <p id="para1">Welcome to</p>
        <p id="para2">NATYA DANCE ACADEMY</p>
      </div>
    </section>

    <!-- for Content SECTION[1] part------------------------------------------------------------>
    <section id="contentSection">
      <div>
        <p>Our Varieties</p>
        <div id="contentBox">
          <div class="boxes">
            <img class="imgBoxes" src="/static/western.jpg" alt="" />
            <p class="paraBoxes">
              Our Academy is known for its WESTERN DANCE, where tutors are from
              US specalist Dance classes
            </p>
          </div>

          <div class="boxes">
            <img class="imgBoxes" src="/static/classical.jpg" alt="" />
            <p class="paraBoxes">
              Our Academy is been consistent in its CLASSICAL DANCE, where tutors are from
              South Indian  specalist Dance classes
            </p>
          </div>

          <div class="boxes">
            <img class="imgBoxes" src="/static/belly dance.jpg" alt="" />
            <p class="paraBoxes">
              Our Academy is Pride for its BELLY DANCE, where tutors are from
              ARAB specalist Dance classes
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- for Footer part------------------------------------------------------------>
    <footer id="footer">
      <p>Our PARTNERS</p>

      <div id="footerBox">
        <img class="imgFooter" src="/static/download (1).jpg" alt="" />
        <img class="imgFooter" src="/static/download (2).jpg" alt="" />
        <img class="imgFooter" src="/static/download (3).jpg" alt="" />
        <img class="imgFooter" src="/static/download.jpg" alt="" />
        <img class="imgFooter" src="/static/OIP.jpg" alt="" />
      </div>

      <p>© Copyright, NDA NATYA DANCE ACADEMY</p>
    </footer>
  </body>
</html>
